.slider-bg-info {
    background-color: #fceae7;
}

.panda-watch-bg {
    background-color: #ffa500;
}

.panda-backpack-bg {
    background-color: #da70d6;
}

.panda-shoe-bg {
    background-color: #0000ff;
}

.all-button-bg {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

.categories img {
    width: 100px;
}